/* body{
    background-color: red;
} */
/* navigation section  */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 0.8rem;
    padding: 0px 8px;
    padding-bottom: 8px;
}
/* homesection */
#home{
   height: 280px;
   padding: 12px 38px;
}
#home h1{
    height: 0px;
    font-size: 1rem;
}
#home::before{
    height: 460px;

 }
 #home p{
     font-size: 7px;
 }
 
 
/* services */
 #services{
  flex-direction: column;
  margin: 14px;

 }
 #services .box img {
    height: 144px;
    margin: auto;
    display: block;
}
 #services .box{


}

/* clientsection */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 25px;
    height:25px;
    padding: 10px;
}
#client-section{
    height: 395px;
}
#client-section{
    height: 74%;
}

#btn{
    padding: 3px 1px;
    font-size: 0.5rem;
    margin: 25px;
}


/* contact section  */
.h-primary{
    font-size: 22px;
    padding: 36px;
}
#h-primary{
    padding: 70px;
}
#contact-box form{
    width: 62%;
    font-size: 29px;
}
#contact-box label{
    font-size: 0.8rem;
    font-family: 'Roboto Slab', serif;
}
#contact-box ::placeholder{
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
}
footer{
    font-size: 12px;
    /* background-color: black; */
}
